* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;
}

/* nav section */
nav{
    margin-top: 12px !important;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    list-style: none;
    align-items: center;
}

nav ul a{
    text-decoration: none;
}

.nav-btn{
    font-size: 16px;
    color: white;
    background-color: #1D4ED8;
    font-weight: bold;
    padding: 12px 41.5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


/* hero section */
.hero{
    padding: 100px;
    text-align: center;
    /* align-items: center; */
    margin-top: 24.5px;
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-color: rgba(0, 0, 0, 0.55);
    height: 871px;
}

.hero h2{
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-top: 70px;
}

.hero p{
     color: white;
     font-size: 22px;
     font-weight: 400;
}

.hero-btn{
     font-size: 24px;
    color: white;
    background-color: #1D4ED8;
    font-weight: bold;
    padding: 25px 62.5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.hero-btn-div{
     margin-top: 585px;
}


/* speakers section */
.pricing-spot{
    text-align: center;
}

.pricing-spot h2{
    color: #0D1B2A;
    margin-top: 136px;
    font-size: 48px;
    font-weight: bold;
}

.pricing-spot p{
    color: #575757;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.container-h2 h2{
    font-size: 56px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 56px;
    text-align: center;
}

.speakers-parent{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.speakers-p-h img{
    border-radius: 12px;
}

.speakers-p-h {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 12px;
    margin-bottom: 32px;
    padding: 15px;
}

.what-they-are{
    font-size: 12px;
    color: #2563EB;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}

.speakers-p-h h2{
    font-size: 20px;
    color: #0D1B2A;
    font-weight: bold;

}

.what-they-do{
    font-size: 14px;
    color: #575757;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* pricing section */

.pricing-parent{
    display: flex;
    justify-content: space-evenly;
}

.pricing-child{
    border: 1px solid black;
    border-radius: 12px;
    padding: 32px;
}

.pricing-child li{
    list-style: none;
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricing-child h2{
    font-size: 44px;
    color: #0D1B2A;
    font-weight: bold;
}

.pricing-child .p{
    color: #888888;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}

.pricing-child .p2{
    color: #888888;
    font-size: 13px;
    margin-bottom: 10px;
}

.child-black{
    background-color: #0D1B2A;
}

.child-black h2{
    color: white;
}

.child-black .p{
    color: #93C5FD;
}

.child-black li{
    color: white;
}

.pricing-btn1{
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 8px;
    padding: 12px 107.83px;
}

.pricing-btn-blue{
    background-color: #2563EB;
    border: none;
    border-radius: 8px;
    padding: 12px 107.83px;
}

.pricing-btn2{
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 12px 107.83px;
}


